<h1>Подача заявки</h1>

<form method="post">
    <input type="text" name="course" placeholder="Название курса" style="background: pink"><br>
    <input type="date" name="start_date" style="background: pink"><br>

    <select name="payment">
        <option value="Карта" style="background: pink">Картой</option>
        <option value="Наличные" style="background: pink">Наличными</option>
    </select><br>

    <button type="submit" style="background: pink">Отправить</button>
</form>

<a href="/dashboard" style="background: pink">Назад</a>